.aboutMe{ 
display: flex;
justify-content: center;
align-items: center;
// background-color: rgb(10, 10, 10);
background-image: linear-gradient(to bottom, #0984e3, #3561a6, #33416d, #242539, #0a0a0a);
height: 100vh;
.bioDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
  
    margin: 0 a;
   

    p {
      font-size: 3rem;
      color: rgba(240, 248, 255, 0.767);
      text-align: center;
      line-height: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
