.aboutMe{ 
  z-index: -1;
display: flex;
justify-content: center;
align-items: center;

background-image:  linear-gradient(to bottom, #ffd542, #d78d41, #98543d, #4e2a2a, #000000);
height: 100vh;
.bioDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
  
    margin: 0 a;
   

    p {
      font-size: 3rem;
      color: rgba(240, 248, 255, 0.767);
      text-align: center;
      line-height: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
