.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: -1; 
  position: relative;
  

  .contactH2 {
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-size: 10rem;
    line-height: 200px;
    position: relative;
    font-weight: 100;
   padding-left: 200px;
   color: rgba(28, 24, 23, 0.938);
   letter-spacing: 3px;
   text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

   @media screen and (max-width: 1600px) {
    padding-left: 100px;
   }
   @media screen and (max-width: 1600px) {
  font-size: 9rem;
  line-height: 180px;
   }
   @media screen and (max-width: 1500px) {
    font-size: 8rem;
    padding-left: 200px;
     }

    span { 
      position: absolute;
      transform: translateX(+50%);
      color: rgba(28, 24, 23, 0.938);
      z-index: +1000;
    }
   
  }

  .contactContent { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    position: relative;
    
    .inquiry {
      font-size: 2rem;
      letter-spacing: 2px;
      width: 100%;
      position: absolute;
      // padding-left: 1000px;
      @media screen and (max-width: 1500px) {
        font-size: 1.5rem;
         }
 
      .gradientText {
        background-color: #9978f3;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
      }
      }
      .arthyPola { 
        position: absolute;
      left: 150px;
      top: -40px;
      
      img { 
        width: 80%;
        -moz-box-shadow: 10px 10px 50px #ccc;
      -webkit-box-shadow: 10px 10px 50px #ccc;
      box-shadow: 10px 10px 50px #ccc;
      }
      }
    }
  }
  
