footer {
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  .leftFooter {
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgb(249, 251, 251);
  }
  // .middleFooter {
  //   display: flex;
  //   flex-direction:column ;
  //   font-size: 1rem;
  // }
  .rightFooter {
    a {
      color: rgb(249, 251, 251);
      padding-left: 30px;
      font-size: 1rem;
      letter-spacing: 1px;
      position: relative;
    }
    & a::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 65%;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      height: 1.5px;
      width: 70%;
      background-color: white;
      z-index: 1000;
    }

    & a:hover::before {
      transform: translateX(-50%) scale(1);
      z-index: 1000;
    }
  }
}
