footer {
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  .leftFooter {
    font-size: 1rem;
    letter-spacing: 2px;
    color: rgba(240, 248, 255, 0.801);
    @media screen and (max-width: 1000px) {
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
    @media screen and (max-width: 600px) {
      font-size: 0.6rem;
    }
  }

  .rightFooter {
    a {
      color: rgba(240, 248, 255, 0.801);
      padding-left: 30px;
      font-size: 1rem;
      letter-spacing: 2px;
      position: relative;
      letter-spacing: 2px;
      @media screen and (max-width: 1000px) {
        font-size: 0.8rem;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    & a::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 65%;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      height: 1.5px;
      width: 70%;
      background-color: rgba(240, 248, 255, 0.801);
    }

    & a:hover::before {
      transform: translateX(-50%) scale(1);
    }
  }
  .arrowUp {
    position: absolute;
    bottom: 10px;
    right: +50%;
    z-index: 1000;

    a {
      z-index: 1000;
    }
  }
}
