.gridProjects {
 margin: 50px;
 

  .featuredProjects {
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 6rem;
    background: white;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 700px 800px 600px;
    gap: 50px 50px;
    grid-template-areas:
      "p1 p2 p3"
      "p4 p5 p5"
      "p6 p7 p8";

    .p1 { 
      grid-area: p1;
      background-image: url(./assets/img/background.jpg);
      
    }
    .p2 {
      grid-area: p2;
      background-image: url(./assets/img/banner-2.jpg);
    }
    .p3 {
      grid-area: p3;
      background-image: url(./assets/img/immo.jpg);
    }
    .p4 {
      grid-area: p4;
      background-image: url(./assets/img/poster.jpg);
    }
    .p5 {
      grid-area: p5;
      background-image: url(./assets/img/chateau-ambulant.jpg);
    }
    .p6 {
      grid-area: p6;
      background-image: url(./assets/img/dish-gallery-05.jpg);  
    }
    .p7 {
      grid-area: p7;
      background-image: url(./assets/img/bg.jpg);
    }
    .p8 {
      grid-area: p8;
      background-image: url(./assets/img/tinder1.png);
    }

  .projectsPicture { 
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height:auto;
  

}

    .projectsPicture:hover {
      background-image: none;
      background-color: rgba(0, 0, 0, 0.952);
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .projectsPicture:hover:after {
      content: attr(data-hover);
      color: white;
      font-size: 3rem;
      
    }
  }
}

