header {
  // background-image: linear-gradient(to right bottom, #25ccf7, #00c4fa, #00bcfd, #00b3fe, #00a9fe, #0d9cf6, #1c90ed, #2983e4, #3171d2, #365fbf, #394dac, #3b3b98);
  background-repeat: repeat;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  .box1::after {
    content: " ";
    border-top: 100vh solid white;
    border-right: 100vw solid #ffd542;
    width: 0;
    position: absolute;
    z-index: -10;
  }
  .name {
    position: absolute;
    top: 20px;
    left: 50px;
    letter-spacing: 1px;
  }
  .socialHeader {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    width: 220px;

    @media screen and (max-width: 800px) {
      display: none;
    }

    & a {
      position: relative;
      z-index: 1000;
    }

    & a::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      height: 1.5px;
      width: 100%;
      background-color: #343434;
      z-index: 1000;
    }

    & a:hover::before {
      transform: translateX(-50%) scale(1);
      z-index: 1000;
    }
  }
  .headerContainer {
    position: relative;
    .menu {
      position: relative;
      .logo {
        position: absolute;
        img {
          transform: translateY(-40px);
        }
      }

      .nav {
        & ul {
          position: absolute;
          display: flex;
          justify-content: space-around;
          width: 400px;
          top: 20px;
          right: 30px;
          position: fixed;
          font-weight: 500;
          letter-spacing: 1px;

          & a {
            font-size: 1rem;
            position: relative;
          }

          & a::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scale(0);
            transition: transform 0.3s ease-in-out;
            height: 1.5px;
            width: 100%;
            background-color: #343434;
          }
          & a:hover::before {
            transform: translateX(-50%) scale(1);
          }
          @media screen and (max-width: 1000px) {
            display: none;
          }
        }
      }
    }
  }
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(+15%, +40%);
    margin: 0 auto;
    width: 80%;

    @media screen and (max-width: 1400px) {
      transform: translate(+15%, +70%);
    }

    @media screen and (max-width: 1200px) {
      transform: translate(+15%, +100%);
    }
    @media screen and (max-width: 1000px) {
      transform: translate(+15%, +120%);
    }
    @media screen and (max-width: 800px) {
      transform: translate(+15%, +140%);
    }
    @media screen and (max-width: 600px) {
      transform: translate(+15%, +180%);
    }
    @media screen and (max-width: 550px) {
      transform: translate(+15%, +240%);
    }

    #textContainer {
      text-align: left;
      letter-spacing: 1px;
      line-height: 100px;
      font-weight: 100;
      position: relative;

      @media screen and (max-width: 1400px) {
        line-height: 75px;
      }
      @media screen and (max-width: 1200px) {
        line-height: 62px;
      }
      @media screen and (max-width: 1000px) {
        line-height: 55px;
      }
      @media screen and (max-width: 800px) {
        line-height: 45px;
      }
      @media screen and (max-width: 600px) {
        line-height: 40px;
      }
      @media screen and (max-width: 550px) {
        line-height: 30px;
      }
      .creative {
        font-size: 12rem;
        background: linear-gradient(
          -45deg,
          #ffd542 25%,
          #e17055 25%,
          #ffd542 50%,
          #e17055 50%,
          #ffd542 75%,
          #e17055 75%,
          #ffd542
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 20px;
        background-position: 0 0;
        animation: stripes 1s linear infinite;
        @keyframes stripes {
          100% {
            background-position: 20px 0, 20px 0, 20px 0;
          }
        }
        @media screen and (max-width: 1400px) {
          font-size: 12rem;
        }
        @media screen and (max-width: 1200px) {
          font-size: 10rem;
        }
        @media screen and (max-width: 1000px) {
          font-size: 8rem;
        }
        @media screen and (max-width: 800px) {
          font-size: 6rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 5rem;
        }
        @media screen and (max-width: 550px) {
          font-size: 4rem;
        }
      }

      .front {
        font-size: 13rem;
        color: rgba(28, 24, 23, 0.938);

        @media screen and (max-width: 1400px) {
          font-size: 11rem;
        }
        @media screen and (max-width: 1200px) {
          font-size: 9rem;
        }
        @media screen and (max-width: 1000px) {
          font-size: 7rem;
        }
        @media screen and (max-width: 800px) {
          font-size: 5rem;
        }
        @media screen and (max-width: 550px) {
          font-size: 3rem;
        }
      }
    }

    .web {
      font-size: 15rem;
      color: rgba(28, 24, 23, 0.938);

      @media screen and (max-width: 1400px) {
        font-size: 12rem;
      }
      @media screen and (max-width: 1200px) {
        font-size: 10rem;
      }
      @media screen and (max-width: 1000px) {
        font-size: 8rem;
      }
      @media screen and (max-width: 800px) {
        font-size: 6rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 5rem;
      }
      @media screen and (max-width: 550px) {
        font-size: 4rem;
      }
    }
  }

  .arrows {
    width: 100px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }

  .arrows path {
    stroke: #0c0c0cd7;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  }
}
