header {
  background-color: rgb(246, 219, 61);
  min-height: 100vh;
  overflow: hidden;
position: relative;


.name {
  position: absolute;
  bottom: 0;
  left: 50px;
  letter-spacing: 1px;

 
}
.socialHeader { 

  position: absolute;
  bottom: 15px;
  right: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  width: 220px;

  & a { 
    position: relative;

    
  }
  & a::before { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    height: 1.5px;
    width: 100%;
    background-color: #343434;
  }
  & a:hover::before {
    transform: translateX(-50%) scale(1);
    
  }

}
  .headerContainer {
    position: relative;

    .menu {
      position: relative;
      .logo {
        position: absolute;
        position: relative;
        left: 50px;
        top: 30px;
        
      }



      .nav {
      }
      & ul {
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 450px;
        top: 20px;
        right: 30px;
        position: fixed;
        font-weight: 500;
        letter-spacing: 1px;

        & a {
          font-size: 1rem;
          position: relative;
          
         
        }

        & a::before { 
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) scale(0);
          transition: transform 0.3s ease-in-out;
          height: 1.5px;
          width: 100%;
          background-color: #343434;
        }
        & a:hover::before {
          transform: translateX(-50%) scale(1);
          
        }
      }
      
    }

    .textContainer {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      text-align: center;

      #textContainer {
        position: absolute;
        align-items: center;

        text-align: left;

        transform: translateY(+80%);
        letter-spacing: 1px;
        line-height: 105px;
        font-weight: lighter;

        .creative {
          font-size: 10rem;
          color: aquamarine;
          font-weight: lighter;
        }
        .front {
          font-size: 12rem;
          font-weight: 200;
        }

        .web {
          font-size: 14rem;
        }
     
      }
    }
     
    position: relative;
  } 


  .arrows {
    width: 100px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }

  .arrows path {
    stroke: #0c0c0cd7;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  }
}
