.main_banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.UlMain_banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.UlMain_banner li {
  width: 40%;
  text-align: center;
  @media screen and (max-width: 1700px) {
    width: 50%;
  }
}
.UlMain_banner li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.897);
  font-size: 5em;
  line-height: 65px;
  width: 80%;

  @media screen and (max-width: 1400px) {
    font-size: 4rem;
    line-height: 55px;
  }
  @media screen and (max-width: 1100px) {
    font-size: 3rem;
    line-height: 42px;
  }
}
.UlMain_banner li a:hover {
  font-style: italic;
  color: rgba(0, 0, 0, 0.911);
  transition: 0.2s ease-in-out;
}
.bg_image {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(./assets/img/gamingCampus.jpg);

}
.arrowsProject {
  width: 100px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrowsProject path {
  stroke: #f0efefd7;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrowsProject path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrowsProject path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrowsProject path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
