@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

@import url("https://fonts.googleapis.com/css?family=Monoton");
* {
  scroll-behavior: smooth;
  list-style: none;
  // font-family: "Vollkorn-Regular";
  cursor: pointer;
  // max-width: 2000px;
}
a {
  text-decoration: none;
  color: rgba(28, 24, 23, 0.938);
  font-family: "Vollkorn", serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  user-select: none;
  margin-block-start: 0;
  font-family: "Vollkorn-Regular";
}
